@import "./variables";

.article {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 30px;

  &__container {
    padding: 10px;
  }

  &__text {
    padding-bottom: 10px;
  }

  &__hart {
    height: 30px;
    text-align: right;
  }

  &__detail {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;
    margin-bottom: 10px;
    // padding-left: 10px;
  }
}
