@import "./variables";

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  word-spacing: 1px;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  background-color: $base-bg-color;
  font-size: 1em;
  color: $text-base-color;
}

h3 {
  font-size: 1.5em;
}

ul,
li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

.main {
  padding: 0 15px;
}
